nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            a(class="navbar-brand",) Restream
        div.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(class="navbar",href="/encoderSettings") Encoder Settings
                li
                    a(class="navbar",href="/thirdpartysettings") Third Party Settings
                li
                    a(class="navbar",href="/streamrouter") Output Configuration
                li
                    a(class="navbar",href='/player') Preview
                    
      
