include StreamerRouterMixins
doctype html
html
    include ./head.jade 
    title   
body
        include ./navbar.jade
        block content
            .container
                 form(name="settingsForm", action='streamrouter/Update'   method="post")    
                     table.table.table-striped.col-md-12
                        tr
                            th.col-md-4 Input Stream
                            th.col-md-3 Encoder
                            th.col-md-3 Ouput Stream
                            th.col-md-2 Options
                            +DisplayInputOutTable(ConfiguredInputOutputs,AvailableEncoders,AvaiableInputs)
            .container
                form(name="settingsForm", action='streamrouter/UpdateThird'   method="post")    
                    table.table.table-striped.col-md-12                   
                        tr
                            th.col-md-8 Ouput Stream
                            th.col-md-4 Final Destination(s)
                        +DisplayOutputServices(AvaiableInputs,AvailableOutputs)
                        tr
                            td
                            td
                                +formButton(1,"Save","btn-success")         

 